@charset "UTF-8";
.item-box {
  margin-bottom: 1.4rem;
  transition: box-shadow 0.3s ease-in-out;
  background: #fff; }
  .item-box .items-right {
    width: 100%;
    padding: 1.4rem; }
    .item-box .items-right span {
      font-size: 1.0833rem;
      display: block;
      color: #444; }
      .item-box .items-right span.name {
        font-size: 1.25rem;
        font-weight: 550;
        margin: 3px 0; }
    .item-box .items-right .reservation-╤Бount {
      line-height: 1;
      font-size: 1.0833rem;
      color: #707070; }

/*single page*/
.default_content p {
  margin: 20px 0px;
  line-height: 28px;
  font-size: 1.3rem; }

#zhety {
  width: 800px; }

body, html {
  padding: 0;
  margin: 0;
  font-size: 12px;
  background: #f6f6f6;
  color: #444; }

a {
  text-decoration: none;
  color: #000; }
  a:hover {
    text-decoration: none;
    color: none; }

label {
  font-weight: 700; }

img {
  max-width: 100%;
  cursor: pointer; }

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: none;
  outline: 0;
  box-shadow: none !important; }

.btn:focus {
  box-shadow: none !important; }

.nav-item:focus {
  outline: none !important; }

.modal-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.navbar {
  background: #fff !important;
  padding: 10px 10rem;
  /* position: fixed;
  width: 100%;
  z-index: 10; */ }
  .navbar a {
    font-size: 1.5rem;
    transition: .5s ease all; }
    .navbar a:hover {
      color: #de483d !important; }
  .navbar .logo {
    width: 220px; }

.border-red-wrapper {
  display: inherit;
  text-align: center; }

.btn-red {
  background: #de483d; }
  .btn-red:hover {
    border: 1px solid #de483d;
    color: #de483d !important;
    background: #fff; }

.btn {
  text-transform: uppercase;
  color: #fff !important;
  border: 1px solid transparent;
  transition: .5s all ease; }
  .btn a {
    color: #fff; }
    .btn a:hover {
      color: #de483d; }

.btn-yellow {
  background: #faca4a; }
  .btn-yellow:hover {
    border: 1px solid #faca4a;
    color: #faca4a !important;
    background: #fff; }

.border-red {
  display: inline;
  border-right: 5px solid #de483d;
  border-left: 5px solid #de483d;
  padding-left: 1rem;
  padding-right: 1rem;
  text-transform: uppercase; }

.red {
  color: #de483d; }

.rest {
  color: #fff;
  padding: 3rem;
  opacity: .9;
  transition: .5s opacity esea;
  cursor: pointer; }
  .rest:hover {
    opacity: 1; }

section {
  background: transparent;
  padding: 1.5rem 0; }

.product {
  margin-bottom: 3rem;
  padding: 4rem 0;
  border-bottom: 2px solid #666; }
  .product#product-4 {
    border: 0; }
  .product img {
    border-radius: 10px; }
  .product h5 {
    margin-bottom: 0; }
  .product h1 {
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 1.5rem; }
  .product p {
    color: #666666;
    font-size: 1.5rem; }
  .product .btn {
    margin-left: auto; }
  .product .btn-even {
    margin-left: 0;
    margin-right: auto; }

.items .btn {
  margin-left: auto; }

.fa-times {
  cursor: pointer;
  font-size: 1.7rem;
  color: #de483d;
  margin-left: auto; }

#registration .nav-tabs {
  cursor: pointer;
  border: 0;
  align-self: center; }
  #registration .nav-tabs h5.nav-link {
    border: 0;
    border-bottom: 1px solid transparent;
    transition: .5s border-color ease; }
    #registration .nav-tabs h5.nav-link a:hover {
      color: #de483d; }
    #registration .nav-tabs h5.nav-link.active {
      border: 0;
      border-bottom: 1px solid #de483d; }
    #registration .nav-tabs h5.nav-link:hover, #registration .nav-tabs h5.nav-link.active {
      border-bottom: 1px solid #de483d;
      color: #de483d; }

.welcome {
  padding: 5rem 0;
  color: #fff;
  background: #000 url("../img/main.png");
  background-size: cover;
  height: 100vh; }
  .welcome h2 {
    font-size: 3rem; }
  .welcome h1 {
    font-size: 4.3rem;
    margin: 6rem 0 10rem; }
  .welcome .fa-chevron-down {
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem; }
  .welcome .down {
    position: absolute;
    left: 50%;
    bottom: 8%; }

.group {
  height: 300px;
  width: 500px; }

.footer-copyright {
  color: #666; }

footer {
  background: #222222;
  width: 100%;
  color: #fff; }
  footer .fab {
    font-size: 2rem;
    color: #666; }
  footer a {
    color: #666;
    text-decoration: underline; }
    footer a:hover {
      color: #666; }

/*# sourceMappingURL=style.css.map */
